.env
.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
tests/
logs/
*.log
model_data/
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal
